@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

li {
    font-family: 'Prata', serif;
}
a:hover {
    color: #ffc400;
}
#logo {
    font-family: 'Cinzel Decorative', cursive;
}
h3 {
    font-family: 'Prata', serif;
    font-style: italic;
    border-bottom: 5px solid #ffc400;
}
h4 {
    font-family: 'Prata', serif;
    font-style: italic;

}
div {
    padding: 25px;
}
p {
    font-family: 'Prata', serif;
    font-size: larger;
    line-height: 30px;
    
}
img {
    border: #ffc400 2px solid;
}
form {
    border: #ffc400 2px solid;
    margin: 50px;
    border-radius: 10px;
}
button {
    background-color: #ffc400;
    margin: 15px;
    padding: 5px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    font-size: large;

}
::placeholder {
    font-family: 'Prata', serif;
}